/*  colors */
:root{
    --pastelPink: rgb(247, 196, 204);
    --gold: #ffcf28;
    --gGreen: rgb(87, 136, 108);
    --duskGreen: rgb(70, 96, 96);
    --darkGreen: #0e0f19;
    --smoothFont: 'Josefin Sans', sans-serif;
    --sun_gifpos: 200px;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior: contain;
}
html:-webkit-scrollbar{
    scrollbar-width: none;
}

/*
 ██████╗██╗      █████╗ ███████╗███████╗███████╗███████╗    ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗
██╔════╝██║     ██╔══██╗██╔════╝██╔════╝██╔════╝██╔════╝    ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
██║     ██║     ███████║███████╗███████╗█████╗  ███████╗    ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║
██║     ██║     ██╔══██║╚════██║╚════██║██╔══╝  ╚════██║    ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║
╚██████╗███████╗██║  ██║███████║███████║███████╗███████║    ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
 ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚══════╝    ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝

*/

/* home page steve falling animation on start */
.steveFall{
    height: auto;
    width: 70px;
    transform: translate(0px, -1000px);
    opacity: 0;
    float: right;
    justify-self: center;
    transition: transform 5s, opacity 1s;
}

.steveFallAnimation{
    transform: translate(0px, 0px);
    opacity: 1;
}

/* making images responsive */

.responsiveImage{
    width: 100%;
    max-width: inherit;
    height: auto;
    position: absolute;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* text custmization */

.text-center{
    text-align: center;
}

.text-large{
    font-size: 2em;
}

.text-nodecor{
    text-decoration: none;
}

.text-color-white{
    color: #0b0b0b;
}

.text-bold{
    font-weight: bolder;
}

/* MENU HAMBURGER OPEN */

.mnu-btn{
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    background-color: var(--gold);
    z-index: 5;
    border: 0px solid transparent;
    flex-direction: column;
    gap: 5px;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    transition: translate 1s, opacity 1s, background-color 1s;
    
}

.mnu-btn .ham-top{
    transition: translate 1s, rotate 1s;
    width: 40px;
    height: 5px;
    background-color: black;
    transform: translate(0px, 0px);
}
.mnu-btn .ham-middle{
    transition: translate 1s, rotate 1s;
    width: 40px;
    height: 5px;
    background-color: black;
}
.mnu-btn .ham-bottom{
    transition: translate 1s, rotate 1s;
    width: 40px;
    height: 5px;
    background-color: black;
    transform: translate(0px, 0px);
}

.mnu-btn-close{
    background-color: red;
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    z-index: 5;
    border: 0px solid transparent;
    flex-direction: column;
    gap: 5px;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    transition: translate 1s, opacity 1s, background-color 1s;
}
.mnu-btn-close .ham-top{
    transition: transform 1s;
    width: 40px;
    height: 5px;
    background-color: black;
    transform: translateY(6px) rotate(45deg);
}
.mnu-btn-close .ham-middle{
    transition: transform 1s;
    width: 40px;
    height: 5px;
    background-color: black;
    opacity: 0;
}
.mnu-btn-close .ham-bottom{
    transition: transform 1s;
    width: 40px;
    height: 5px;
    background-color: black;
    transform: translateY(-15px) rotate(135deg);
}


/* END */

.pos-center-absolute{
    position: absolute;
    bottom: 50px;
}

.open{
    position: absolute;
    right: 0;
    background-color: var(--darkGreen);
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    opacity: 1;
    border: 0px solid  transparent;
    border-radius: 50px;
    transition: all 1s;
    z-index: 4;
}

.close{
    position: absolute;
    right: 0;
    background-color: var(--darkGreen);
    margin-top: 0px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    opacity: 0;
    border: 0px solid  transparent;
    border-radius: 0px;
    transition: all 1s;
    z-index: 4;
}

.center-nav-label{
    position: relative;
    margin: auto;
    height: 50%;
    left: 50%;
    font-size: 1.3em;
    background-color: #0e0f19;
    padding: .5em;
    border: 0px solid transparent;
    border-radius: 10px;
    text-align: center;
}

.bottom-border-curved{
    border-bottom: 3px solid var(--gold);
    border-radius: 0 0 10px 10px;
}

.shape-square{
    width: 100px;
    height: 100px;
    background: linear-gradient(to top, black, white);
}

.ul-nodecor{
    list-style-type: none;
}
.no_padding{
    padding: 0;
}
.no_margin{
    margin: 0;
}

.scroll-snap{
    scroll-snap-type: y mandatory;

}
.scroll-snap > * {
    scroll-snap-align: start;
}

.fill{
    height: 100%;
    width: 100%;
}
.fill-33per{
    height: 33%;
    width: 33%;
}
.fill-67per{
    height: 67%;
    width: 67%;
}

.asp-rat1_1{
    aspect-ratio: 1 / 1;
}

.socialMedias a{
    text-decoration: none;
}
.socialMedias a img{
    max-width: 25px;
    width: 25px;
    max-height: 25px;
    height: 25px;
}

/*
███████╗███████╗██╗     ███████╗ ██████╗████████╗ ██████╗ ██████╗     ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗
██╔════╝██╔════╝██║     ██╔════╝██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗    ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
███████╗█████╗  ██║     █████╗  ██║        ██║   ██║   ██║██████╔╝    ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║
╚════██║██╔══╝  ██║     ██╔══╝  ██║        ██║   ██║   ██║██╔══██╗    ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║
███████║███████╗███████╗███████╗╚██████╗   ██║   ╚██████╔╝██║  ██║    ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
╚══════╝╚══════╝╚══════╝╚══════╝ ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝    ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
*/

* {
    font-family: var(--smoothFont);
}

a:link, a:hover, a:visited, a:active{
    color: white;
}
nav ul li{
    padding-left: 12px;
    padding-right: 12px;
}
nav ul li a{
    transition: .5s;
    color: #0b0b0b;
    transform: translateY(0px);
}

nav ul li a:hover{
    transition: .5s;
    transform: translateY(10px);
}

body{
    background-color: var(--gGreen);
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

iframe{
    aspect-ratio: 16 / 9;
    border: 0px solid transparent;
}

p{
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    margin: 0px;
}
h1{
    margin: 0;
}
h2{
    margin: 10px;
    font-size: 2em;
}

header{
    display: grid;
    position: relative;
    right: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0px;
    font-family: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    width: 100%;
    margin: 0px;
    background: none;

}

header .right{
    display: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 200px;
    background-color: black;
    color: white;
}

table{
    width: 100%;
}
table body{
    width: 100%;
    height: 300px;
}
table tr{
    height: 40px;
}
table th{
    width: 10%;
    height: 40px;
}

section{
    height: 1130px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    transition: background-color 1s;
}

.sct-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sct-grid{
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: 50%;
    justify-items: center;
    align-items: center;
    align-self: center;
    grid-auto-flow: row;
}

section:nth-child(2){
    height: 1080px;
    background-position: top;
    background-size: cover;
    transition: background-color .9s;
    display: flex;
    flex-direction: column;
}

figure{
    margin: 0;
    padding: 0;
}




/* 
███████╗ ██████╗ ██████╗ ███╗   ███╗    ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║    ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
█████╗  ██║   ██║██████╔╝██╔████╔██║    ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║    ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║    ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝    ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
*/

form{
    position: relative;
    display: grid;
    height: fit-content;
    width: 100%;
    max-width: 768px;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px 50px 150px;
    row-gap: 3em;
    font-weight: bolder;
    font-size: large;
    margin-right: auto;
    margin-left: auto;
}
form input {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid var(--gold);
    width: fit-content;
    color: black;
    height: 50px;
    width: 80%;
    font-weight: inherit;
    font-size: inherit;
    padding-left: 20px;
}
input#submitBtn{
    display: block;
    position: relative;
    bottom: 10px;
    padding: 0;
    border: 0px;
    border-radius: 40px;
    height: 50px;
    width: 100px;
    border: none;
}

form textarea{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-weight: inherit;
    font-size: x-large;
    line-height: 15px;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid var(--gold);
    min-width: 50%;
    width: 80%;
    max-width: 100%;
    height: 50%;
    max-height: 100%;
    padding: 20px;
    color: black;
    resize: none;
    
}

/* 
██╗██████╗     ███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗
██║██╔══██╗    ██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
██║██║  ██║    ███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║
██║██║  ██║    ╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║
██║██████╔╝    ███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝╚═════╝     ╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
*/




#scrollButtons{
    display: grid;
    grid-template-columns: 50% 50%;
    position: static;
    top: 0px;
    width: 200px;
    background-color: transparent;
}
/* back */


#back-button{
    justify-self: center;
    width: 50px;
    height: 50px;
    border: 0px solid transparent;
    border-radius: 50px;
    transition: width .2s, height .2s;
}
#back-button:active{
    width: 40px;
    height: 40px;
    transition: width .2s, height .2s;
}
/* forward */
#forward-button{
    justify-self: center;
    width: 50px;
    height: 50px;
    border: 0px solid transparent;
    border-radius: 50px;
    transition: width .2s, height .2s;
}
#forward-button:active{
    width: 40px;
    height: 40px;
    transition: width .2s, height .2s;
}

#back-button:hover, #forward-button:hover{
    background-color:var(--gold);
}

#headerImg{
    position: absolute;
    top: 0;
    left: 50px;
    max-width: 200px;
}

#introParagraph{
    position: relative;
    top: 50px;
    font-family: monospace;
    width: 400px;
    max-width: 820px;
    font-size: xx-large;
    text-align: center;
    color: white;
    text-shadow: black 0 3px;
}


.projectsPopup{
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: 100%;
    height: 33%;
    aspect-ratio: 1 / 1;
    max-width: 768px;
    max-height: 768px;
    background: linear-gradient(to top, #0E0F19, #0E0F19);
    border: 0px solid transparent;
    border-radius: 30px;
    justify-items: center;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    opacity: 0;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overscroll-behavior-block: auto;
}

.projectsPopup div{
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    justify-items: center;

}

.projectsPopup div figure {
    width: 100%;
}

.projectsPopup div figure img{
    width: 100%;
}

.projectsPopup-show{
    background: linear-gradient(to top, black, #0E0F19);
    opacity: 1;
    transform: translateY(0px);
    transition: background-image 3s, transform 3s, opacity 3s;
}


#formContainer{

    margin-top: 80px;
    width: 100%;
    max-width: 700px;
    position: relative;
    align-self: center;
    justify-self: center;
}

#block-center{
    margin: auto;
    display: block;
}

#wrapper{
    margin: 0;
    padding: 0;
}

#gif-thing{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    top: var(--sun_gifpos);
    bottom: 0px;
    z-index: 2;
}

#goBackUp{
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 20px;
    position: fixed;
    z-index: 1000;
    transition: .5s;
}
#hideli{
    display: none;
    background-color: #030421;
}
#showli{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--darkGreen);
}
#showli ul{
    margin: auto;
}
#showli ul li{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
}
#showli ul li a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #ffffff;
}
#sun{
    position: absolute;
    top: var(--sun_gifpos);
    height: 300px;
    width: 300px;
    z-index: 0;
    border: 0px;
    border-radius: 50%;
    background-color: #ffcf28;
    opacity: 1;
}

#title-image{
    position: absolute;
    left: 10%;
    height: 200px;
    width: 200px;
    z-index: 5;
    top: 0px;
} 

#home_sect1{
    background-image: url(content/mainbg.svg);
    background-color: var(--pastelPink);
}
#home_sect1-change{
    background-image: url(content/mainbg.svg);
    background-color: black;
    background-blend-mode: darken;
}
#home_sect2{
    background-image: url(content/mainbgmiddlescroll.svg);
    background-color: var(--pastelPink);
}
#home_sect2-change{
    background-image: url(content/mainbgmiddle.svg);
    background-color: black;
    background-blend-mode: darken;
}
#home_sect3{
    background-image: linear-gradient(to top, black, transparent, black), url(content/mcbg.png);
}

#contact-sect1{
    justify-content: center;
}

#about-body, #contact-body, #blog-body, #work-body{
    background-image: url(content/mcbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutme-sect1 {
    background-color: var(--darkGreen);
    border-radius: 50px;
    border: 0px solid transparent;
    width: 80%;
    height: auto;
    color: white;
}

.mar-rl-a{
    margin-right: auto;
    margin-left: auto;
}

#aboutme-sect1 article{
    width: 80%;
}

#blog-sect1{
    flex-flow: column;
    width: 80%;
    max-width: 768px;
}
#blog-sect1 article{
    border: 2px solid var(--gold);
    border-radius: 50px;
    padding: 1em;
}
#blog-sect1 article h2{
    border-bottom: 2px solid var(--gold);
    padding: 1em;
}
#blog-sect1 article aside{
    padding: 1em;
    width: 100%;
    height: 100%;

}
#blog-sect1 article div p{
    font-size: 1em;
}
#blog-sect1 article div img{
    width: 100%;
}
#blog-sect1 article button{
    height: fit-content;
    width: fit-content;
    font-size: 1.2em;
    padding: 15px;
    border: 0px  solid transparent;
    border-radius: 15px;
    display: inherit;
}



#workbg-sect1{
    flex-flow: column;
    width: 80%;
    max-width: 768px;
}

#workbg-sect1 video {
    width: 100%;
    height: auto;
}


/* changing the article table style */
#exp table, #exp table thead, #exp table tbody, #exp table tr , #exp table td{
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}
#exp caption{
    font-size: 2em;
    font-weight: bolder;
}
#exp table tbody{
    background-color: lightgray;
}
#exp table tbody tr{
    text-align: center;
    font-size: 1.2em;
    background-color: gold;
}
#exp table tbody tr:nth-child(2){
    background-color: lightgray;
}
#exp table tbody td{
    color: black;
    border-radius: 0px;
}



/*
 █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
*/

/* Fading animations */

.fadeanimation-in{
    transition: .5s;
    background-color: var(--gold);
    width: 85px;
}
.fadeanimation-out{
    transition: .5s;
    background-color: white;
    width: 78.4667px;
}
.bgfadein{
    animation: bgfdin .3s ease-in 0s 1 normal forwards;
}
@keyframes bgfdin {
    0%{
        background-color: #f8c4cc;
    }
    100%{
        background-color: #030421;
    } 
}
.bgfadeout{
    animation: bgfdout .5s ease-in 0s 1 normal forwards;
}
@keyframes bgfdout {
    0%{
        background-color: #030421;
    }
    100%{
        background-color: #f8c4cc;
    } 
}



/*
███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
*/
@media (min-width: 600px){
    #header-button-center{
        text-align: center; 
        position: relative;
        margin:auto;
        height: 50%;
        left: 50%;
        right: auto;
    }
    header .right ul li a{
        padding: 0px 85px 0px 0px;
    }
    
    #gif-thing{
        width: 300px;
        height: 300px;
    }
    header .left img{
        width: 400px;
        height: auto;
    }
    .projectsPopup{
        height: 50%;
    }

    .sct-grid{
        grid-auto-columns: 50% 50%;
        grid-auto-rows: 100%;
        grid-auto-flow: column;
    }

    #aboutme-sect1{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        max-width: 768px;
        justify-self: center;
    }

}

@media (min-width: 1024px){

    #aboutme-sect1{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        max-width: 768px;
        justify-self: center;
    }

    .projectsPopup{
        height: 67%;
    }

    #header-button-center{
        text-align: center; 
        position: relative;
        margin:auto;
        left: 50%;
        right: auto;
        height: 50%;
    }
    header .right ul li a{
        padding: 0px 100px 0px 0px;
    }

    header{
        grid-template-columns: 100%;
    }
    header .right{
        display: flex;
        justify-content: right;
        height: 30px;
        width: 100%;
    }
    header .right ul{
        display: flex;
        justify-content: right;
        margin: 0;
        transform: translateX(-50px);
        height: 30px;
    }
    header .right ul li{
        list-style-type: none;
        margin: 0px 10px 0px 10px; 
        font-family: inherit;
        font-weight: inherit;
        width: auto;
    }
    header .right ul li a{
        display: flex;
        flex-flow: row nowrap;
        text-decoration: none;
        font-size: 1em;
        border-radius: 10px;
        padding: 1% 75px 1% 1%;
        height: 30px;
        width: 30px;
        margin: auto;
    }
    .mnu-btn{
        display: none;
    }
    .open{
        display: none;
    }
    .close{
        display: none;
    }
}