/* document set up */

:root {
    --smoothText: 'Ubuntu', sans-serif;

    --signHeight: 350px
}


/* selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors*/
/* selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors*/
/* selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors*/
/* selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors*/
/* selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors selectors*/


html {
    scrollbar-width: none;
}



header {
    height: 1280px;
    display: grid;
    justify-content: center;
    align-content: center;

}

body {
    background-color: #19037a;
    background-image: url(content/svg/mainbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;

    padding: 0;
    margin: 0;
    height: 1080px;
}


main {
    height: fit-content;
    width: 100%;
    margin: auto;
    display: block;
}

ul {
    list-style: none;
}

hr {
    color: white;
}

h1,
h2 {
    font-family: var(--smoothText);
}

h1,
h2 a {
    color: red;
}

p {
    font-family: var(--smoothText);
    font-weight: bolder;
    padding: 1em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}

iframe {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 0;
}

a {
    text-decoration: none;
    color: white;

}

section {
    background: linear-gradient(to bottom, white, #ff7930);
    max-width: 1280px;
    border: 0px solid transparent;
    border-radius: 1em;
    box-shadow: 0px 1em 5em;
    grid-area: 1 / 2;
    display: none;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    padding: 1em;
}

section ul {
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: 0px;
    border-radius: 1em;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-family: var(--smoothText);
    font-size: 1em;
    font-weight: bolder;
    color: white;
}

/* nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav */
/* nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav */
/* nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav */
/* nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav */
/* nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav */


nav {
    background-image: url(content/renders/tallSign.png);
    height: 380px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;

    position: sticky;
    top: 40%;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-rows: auto;
    border: 0px solid transparent;

    padding: 0;
    margin: 0;

    width: 100px;
    height: 220px;
    overflow: hidden;
    justify-self: center;
}

nav ul li:focus-within {
    transition: background-color .22s ease-in-out;
    background-color: gold;

}

nav ul li button {
    background-color: transparent;

    transition: transform .12s, background-color .12s ease-in-out;

    border: 0;
    background: none;
    color: white;
    font-family: var(--smoothText);
    transform: scale(1);
    font-weight: bolder;
    font-size: 1em;
    overflow: hidden;
    height: 100%;
    width: 100%;

    cursor: pointer;
}

nav ul li button:hover {
    color: #0026ff;
    transform: scale(1.3);
}

/* 
    form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form 
    form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form 
    form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form 
    form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form 
    form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form form
*/

form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    max-width: 384px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    row-gap: 1em;
    font-family: var(--smoothText);
    border: 0px solid transparent;
    border-radius: 1em;
}

form input {
    padding: 1em;
    border: 0;
    transform: translateY(5px);
    opacity: 1;
}

form input:focus {
    transition: transform 500ms, opacity 500ms ease-in-out;
    transform: translateY(0px);
    opacity: .8;
}

form input#name {
    border: 0px solid transparent;
    border-radius: 1em 1em 0 0;
}

form input#submit {
    border: 0px solid transparent;
    border-radius: 0 0 1em 1em;
}


/* classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes*/
/* classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes*/
/* classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes*/
/* classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes*/
/* classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes classes*/

.pad1em {
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    justify-items: center;

    gap: 1em;
}

.t_c_w {
    color: white;
}

.t_c_b {
    color: black;
}

.t_right {
    text-align: right;
}

.t_center {
    text-align: center;
}

.bg_black {
    background-color: black;
}

.bg_white {
    background-color: white;
}

.border-round-1em {
    border: 0px solid transparent;
    border-radius: 1em;
}

.openedSection {
    display: flex;
}

.headingText {
    padding: 1em;
    display: block;
    font-size: 1.3em;
    text-align: center;
    font-weight: bolder;
    font-family: var(--smoothText);
}

/* 

ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID 
ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID 
ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID 
ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID 
ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID 

*/

#skillsTable {
    width: 100%;
    height: 100%;
    max-width: 512px;
    background-color: #19037a;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: 0px solid transparent;
    border-radius: 1em;

}

#skillsTable span {
    margin: .5em;
    display: block;
    text-align: center;
    font-family: var(--smoothText);
}

#skillsTable span b {
    background-color: gold;
    color: black;
    padding: 2px;
}

#skillsTable img {
    max-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#greetingText {
    color: white;
}

ul#socialLinks {
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

ul#socialLinks li img {
    display: block;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}



#left-arrow_nav {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 20px solid white;
    float: left;
}

#right-arrow_nav {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid white;
    float: right;
}

#header_grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
}

div#header_grid img {
    max-width: 100%;
    aspect-ratio: 1/1;
}

#wrapper {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
}

#sect-gal ul li img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .12s, transform .12s, border-radius .12s ease-in-out;
    object-fit: cover;
    border: 0px solid transparent;
    aspect-ratio: 1 / 1;
    border-radius: 0;
}

#sect-gal ul li img:hover {
    opacity: .8;
    transform: scale(.9);
    border-radius: 1em;

}

#sect-work ul li div img {
    object-fit: contain;
    width: 100%;
}

#sect-work ul li div p {
    background-color: gold;
}

#sect-about img {
    display: block;
    float: left;
    max-width: 256px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* 

ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS
ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS
ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS
ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS
ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS ANIMATIONS

*/

.floatingAnimation {
    animation: floatingThere 3s infinite ease-in-out;
}

@keyframes floatingThere {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}






/* 

MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES 
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES 
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES 
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES 
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES 

*/

@media (min-width: 768px) {


    #header_grid {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    #header_grid p {
        grid-area: span 1/ span 2;
    }

    #sect-gal ul {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

}

@media (min-width: 1024px) {
    nav {
        justify-self: right;
    }

    #sect-gal ul {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }

}